.nav{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}
.nav li{
    text-decoration: none;
    
}
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 300vh;
    overflow: hidden;
}

.scrollable-container {
    max-height: 300vh; /* Adjust the height as needed */
    overflow-y: auto;
}

.user-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
}

h2 {
    margin-top: 0;
}
